apiVersion: v1
data:
  config.toml.template: |
    [peerage]
    dns_name = "ret.<POD_NS>.svc.cluster.local"
    app_name = "ret"

    [ret."Elixir.Ret"]
    pool = "hubs"

    [ret."Elixir.RetWeb.Plugs.DashboardHeaderAuthorization"]
    dashboard_access_key = "<DASHBOARD_ACCESS_KEY>"

    [ret."Elixir.Ret.DiscordClient"]
    client_id = ""
    client_secret = ""
    bot_token = ""

    [ret."Elixir.RetWeb.Endpoint".https]
    port = 4000
    certfile = "/ret/cert.pem"
    cacertfile = "/ret/cacert.pem"
    keyfile = "/ret/key.pem"

    [ret."Elixir.RetWeb.Endpoint"]
    allowed_origins = "*"
    secret_key_base = "<PHX_KEY>"
    allow_crawlers = true

    [ret."Elixir.RetWeb.Endpoint".secondary_url]

    [ret."Elixir.RetWeb.Endpoint".cors_proxy_url]
    host = "cors.<HUB_DOMAIN>"
    port = 443

    [ret."Elixir.RetWeb.Endpoint".imgproxy_url]
    host = "<IMG_PROXY>"
    port = 5000

    [ret."Elixir.RetWeb.Endpoint".assets_url]
    host = "assets.<HUB_DOMAIN>"
    port = 443

    [ret."Elixir.RetWeb.Endpoint".link_url]
    host = "hubs-link.local"

    [ret."Elixir.RetWeb.Endpoint".url]
    host = "<HUB_DOMAIN>"
    port = 443

    [ret."Elixir.RetWeb.Endpoint".static_url]
    host = "<HUB_DOMAIN>"

    [ret."Elixir.Ret.Repo"]
    username = "<DB_USER>"
    password = "<DB_PASS>"
    database = "<DB_NAME>"
    hostname = "<DB_HOST_T>"
    template = "template0"
    pool_size = 10
    port = 5432

    [ret."Elixir.Ret.SessionLockRepo"]
    username = "<DB_USER>"
    password = "<DB_PASS>"
    database = "<DB_NAME>"
    hostname = "<DB_HOST>"
    template = "template0"

    port = 5432

    [ret."Elixir.Ret.Locking".session_lock_db]
    username = "<DB_USER>"
    password = "<DB_PASS>"
    database = "<DB_NAME>"
    hostname = "<DB_HOST>"
    port = 5432

    [ret."Elixir.Ret.Habitat"]
    ip = "127.0.0.1"
    http_port = 9631

    [ret."Elixir.Ret.JanusLoadStatus"]
    default_janus_host = "stream.<HUB_DOMAIN>"
    janus_service_name = ""
    janus_admin_secret = ""
    janus_admin_port = 7000
    janus_port = 4443

    [ret."Elixir.Ret.Guardian"]
    secret_key = "<GUARDIAN_KEY>"
    issuer = "<HUB_DOMAIN>"

    [ret."Elixir.Ret.PermsToken"]
    perms_key = "<PERMS_KEY>"

    [ret."Elixir.Ret.OAuthToken"]
    oauth_token_key = ""

    [ret]
    bot_access_key = ""
    # pgrest_host = ""
    # ita_host = ""

    [ret."Elixir.Ret.MediaResolver"]
    ytdl_host = "<YTDL_HOST>"
    photomnemonic_endpoint = "<PHOTOMNEMONIC>"
    sketchfab_api_key = "<SKETCHFAB_API_KEY>"
    tenor_api_key = "<TENOR_API_KEY>"

    [ret."Elixir.Ret.Speelycaptor"]
    speelycaptor_endpoint = "<SPEELYCAPTOR>"

    [ret."Elixir.Ret.PageOriginWarmer"]
    hubs_page_origin = "https://hubs.<POD_NS>:8080/hubs/pages"
    spoke_page_origin = "https://spoke.<POD_NS>:8080/spoke/pages"
    admin_page_origin = "https://hubs.<POD_NS>:8080/hubs/pages"
    insecure_ssl = true

    [ret."Elixir.Ret.HttpUtils"]
    insecure_ssl = true

    [ret."Elixir.Ret.Storage"]
    storage_path = "/storage"
    ttl = 172800
    host = "https://<HUB_DOMAIN>"
    quota_gb = "<STORAGE_QUOTA_GB>" # example: "12"
    # ^^^ has to be string or elixir throws (ArgumentError) argument error:erlang.byte_size(#), but why

    [ret."Elixir.RetWeb.Email"]
    from = "<SMTP_FROM>"

    [ret."Elixir.Ret.Mailer"]
    server = "<SMTP_SERVER>"
    port = "<SMTP_PORT>"
    username = "<SMTP_USER>"
    password = "<SMTP_PASS>"

    [ret."Elixir.Ret.Support"]
    slack_webhook_url = "<SLACK_WEBHOOK>"

    [ret."Elixir.RetWeb.Plugs.AddCSP"]
    child_src = ""
    connect_src = "https://demo.avaturn.dev wss://*.stream.<HUB_DOMAIN>:4443"
    font_src = ""
    form_action = ""
    frame_src = "https://demo.avaturn.dev"
    img_src = "https://demo.avaturn.dev nearspark.reticulum.io"
    manifest_src = ""
    media_src = ""
    script_src = ""
    style_src = ""
    worker_src = ""

    [ret."Ret.Repo.Migrations.AdminSchemaInit"]
    postgrest_password = ""

    [ret."Elixir.Ret.StatsJob"]

    [ret."Elixir.RetWeb.HealthController"]

    [ret."Elixir.RetWeb.PageController"]
    skip_cache = false
    extra_avatar_headers = ""
    extra_index_headers = ""
    extra_room_headers = ""
    extra_scene_headers = ""

    extra_avatar_html = ""
    extra_index_html = ""
    extra_room_html = ""
    extra_scene_html = ""

    extra_avatar_script = ""
    extra_index_script = ""
    extra_room_script = ""
    extra_scene_script = ""

    [ret."Elixir.Ret.Account"]
    admin_email = "<ADM_EMAIL>"

    [ret."Elixir.Ret.Coturn"]
    realm = "turkey"
    public_tls_ports = "5349"

    [web_push_encryption.vapid_details]
    subject = ""
    public_key = ""
    private_key = ""

    [sentry]
    dsn = "<SENTRY_DSN>"

    [run]
    hostname_dns_suffix = "turkey"

    [hackney]
    max_connections = 250

    [ret."Elixir.Ret.Meta"]
    phx_host = "<HUB_DOMAIN>"
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"config.toml.template":"[peerage]\ndns_name = \"ret.\u003cPOD_NS\u003e.svc.cluster.local\"\napp_name = \"ret\"\n\n[ret.\"Elixir.Ret\"]\npool = \"hubs\"\n\n[ret.\"Elixir.RetWeb.Plugs.DashboardHeaderAuthorization\"]\ndashboard_access_key = \"\u003cDASHBOARD_ACCESS_KEY\u003e\"\n\n[ret.\"Elixir.Ret.DiscordClient\"]\nclient_id = \"\"\nclient_secret = \"\"\nbot_token = \"\"\n\n[ret.\"Elixir.RetWeb.Endpoint\".https]\nport = 4000\ncertfile = \"/ret/cert.pem\"\ncacertfile = \"/ret/cacert.pem\"\nkeyfile = \"/ret/key.pem\"\n\n[ret.\"Elixir.RetWeb.Endpoint\"]\nallowed_origins = \"*\"\nsecret_key_base = \"\u003cPHX_KEY\u003e\"\nallow_crawlers = true\n\n[ret.\"Elixir.RetWeb.Endpoint\".secondary_url]\n\n[ret.\"Elixir.RetWeb.Endpoint\".cors_proxy_url]\nhost = \"cors.\u003cHUB_DOMAIN\u003e\"\nport = 443\n\n[ret.\"Elixir.RetWeb.Endpoint\".imgproxy_url]\nhost = \"\u003cIMG_PROXY\u003e\"\nport = 5000\n\n[ret.\"Elixir.RetWeb.Endpoint\".assets_url]\nhost = \"assets.\u003cHUB_DOMAIN\u003e\"\nport = 443\n\n[ret.\"Elixir.RetWeb.Endpoint\".link_url]\nhost = \"hubs-link.local\"\n\n[ret.\"Elixir.RetWeb.Endpoint\".url]\nhost = \"\u003cHUB_DOMAIN\u003e\"\nport = 443\n\n[ret.\"Elixir.RetWeb.Endpoint\".static_url]\nhost = \"\u003cHUB_DOMAIN\u003e\"\n\n[ret.\"Elixir.Ret.Repo\"]\nusername = \"\u003cDB_USER\u003e\"\npassword = \"\u003cDB_PASS\u003e\"\ndatabase = \"\u003cDB_NAME\u003e\"\nhostname = \"\u003cDB_HOST_T\u003e\"\ntemplate = \"template0\"\npool_size = 10\nport = 5432\n\n[ret.\"Elixir.Ret.SessionLockRepo\"]\nusername = \"\u003cDB_USER\u003e\"\npassword = \"\u003cDB_PASS\u003e\"\ndatabase = \"\u003cDB_NAME\u003e\"\nhostname = \"\u003cDB_HOST\u003e\"\ntemplate = \"template0\"\n\nport = 5432\n\n[ret.\"Elixir.Ret.Locking\".session_lock_db]\nusername = \"\u003cDB_USER\u003e\"\npassword = \"\u003cDB_PASS\u003e\"\ndatabase = \"\u003cDB_NAME\u003e\"\nhostname = \"\u003cDB_HOST\u003e\"\nport = 5432\n\n[ret.\"Elixir.Ret.Habitat\"]\nip = \"127.0.0.1\"\nhttp_port = 9631\n\n[ret.\"Elixir.Ret.JanusLoadStatus\"]\ndefault_janus_host = \"stream.\u003cHUB_DOMAIN\u003e\"\njanus_service_name = \"\"\njanus_admin_secret = \"\"\njanus_admin_port = 7000\njanus_port = 4443\n\n[ret.\"Elixir.Ret.Guardian\"]\nsecret_key = \"\u003cGUARDIAN_KEY\u003e\"\nissuer = \"\u003cHUB_DOMAIN\u003e\"\n\n[ret.\"Elixir.Ret.PermsToken\"]\nperms_key = \"\u003cPERMS_KEY\u003e\"\n\n[ret.\"Elixir.Ret.OAuthToken\"]\noauth_token_key = \"\"\n\n[ret]\nbot_access_key = \"\"\n# pgrest_host = \"\"\n# ita_host = \"\"\n\n[ret.\"Elixir.Ret.MediaResolver\"]\nytdl_host = \"\u003cYTDL_HOST\u003e\"\nphotomnemonic_endpoint = \"\u003cPHOTOMNEMONIC\u003e\"\nsketchfab_api_key = \"\u003cSKETCHFAB_API_KEY\u003e\"\ntenor_api_key = \"\u003cTENOR_API_KEY\u003e\"\n\n[ret.\"Elixir.Ret.Speelycaptor\"]\nspeelycaptor_endpoint = \"\u003cSPEELYCAPTOR\u003e\"\n\n[ret.\"Elixir.Ret.PageOriginWarmer\"]\nhubs_page_origin = \"https://hubs.\u003cPOD_NS\u003e:8080/hubs/pages\"\nspoke_page_origin = \"https://spoke.\u003cPOD_NS\u003e:8080/spoke/pages\"\nadmin_page_origin = \"https://hubs.\u003cPOD_NS\u003e:8080/hubs/pages\"\ninsecure_ssl = true\n\n[ret.\"Elixir.Ret.HttpUtils\"]\ninsecure_ssl = true\n\n[ret.\"Elixir.Ret.Storage\"]\nstorage_path = \"/storage\"\nttl = 172800\nhost = \"https://\u003cHUB_DOMAIN\u003e\"\nquota_gb = \"\u003cSTORAGE_QUOTA_GB\u003e\" # example: \"12\"\n# ^^^ has to be string or elixir throws (ArgumentError) argument error:erlang.byte_size(#), but why\n\n[ret.\"Elixir.RetWeb.Email\"]\nfrom = \"\u003cSMTP_FROM\u003e\"\n\n[ret.\"Elixir.Ret.Mailer\"]\nserver = \"\u003cSMTP_SERVER\u003e\"\nport = \"\u003cSMTP_PORT\u003e\"\nusername = \"\u003cSMTP_USER\u003e\"\npassword = \"\u003cSMTP_PASS\u003e\"\n\n[ret.\"Elixir.Ret.Support\"]\nslack_webhook_url = \"\u003cSLACK_WEBHOOK\u003e\"\n\n[ret.\"Elixir.RetWeb.Plugs.AddCSP\"]\nchild_src = \"\"\nconnect_src = "https://demo.avaturn.dev wss://*.stream.<HUB_DOMAIN>:4443"
    meta.helm.sh/release-name: moz
    meta.helm.sh/release-namespace: hcce
  creationTimestamp: "2026-01-23T12:50:11Z"
  labels:
    app.kubernetes.io/instance: moz
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: reticulum
    app.kubernetes.io/version: 1.16.0
    helm.sh/chart: reticulum-0.1.0
  name: ret-config
  namespace: hcce
  resourceVersion: "1908484"
  uid: 1c1736e1-d3f1-49c6-b9f1-e969a618c6bc
